<link rel="stylesheet" href='{{ "css/reward.css" | absURL }}' />

<div class="post-reward">
    <div style="padding: 0 0 0 0; margin: 0 0 0 0; width: 100%; font-size:16px; text-align: center;">
        <div id="QR" style="opacity: 0;">
            <div id="wechat" style="display: inline-block">
                <a class="fancybox" rel="group">
                    <img id="wechat_qr" src="/images/readme/cha.png" alt="wechat_pay"></a>
                <p>微信</p>
            </div>
        </div>
        <button id="rewardButton"
                onclick="
            var qr = document.getElementById('QR');
            if (qr.style.opacity === '0') {
                qr.style.opacity='1';
            } else {
                qr.style.opacity='0'
            }"
        >
            <span style="margin: 0 10px 10px 0;">🧧 喝茶</span>
        </button>
    </div>
</div>